@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using MbmStore.Models;
@{
    ViewBag.Title = "Invoices";

}
<!doctype html>
<html lang="en">
<head>
    <title>MbmStore Catalogue</title>
</head>

<body>

    <h2>Invoices</h2>


    <form method="post" asp-controller="Invoice" asp-action="index">
        <div>
            <select name="customer" id="customer" asp-items="@ViewData["Customers"] as List<SelectListItem>"></select>
            <button type="submit">Show invoices</button>
        </div>
    </form>

    <table>
        <tr>
            <th>Customer</th>
            <th>
                <div style="float:left;width:80%;">Product</div>
                <div style="float:right;width:50px;">Price</div>
            </th>
        </tr>
        @foreach (Invoice invoice in ViewBag.Invoices)
        {
            <tr>
                <td width="150">@invoice.Customer.Firstname @invoice.Customer.Lastname</td>
                <td>
                    <table>
                        @{decimal price = 0M;}
                        @foreach (OrderItem orderItem in invoice.OrderItems)
                        {
                            <tr>
                                <td width="500">@orderItem.Product.Title (@orderItem.Product.ToString().Substring(16)) </td>
                                <td style="width:50px" class="price">@orderItem.Product.Price</td>
                            </tr>
                            price += orderItem.Product.Price;
                        }
                        <tr><td><strong>Total</strong></td><td class="price"><strong>@price</strong></td></tr>
                    </table>
                </td>
            </tr>
        }
    </table>
</body>
</html>
